.user-card-container {
    display: flex;
    height: 200px;
    width: 80%;
    background: gray;
    border-radius: 10px;
    /* content: "200x400"; */
    align-items: center;
    justify-content: center;
    align-content: center;
}
